<main class="px-4">
  <div class="flex flex-row items-center text-xl">
    <%= link_to :back do %>
      <i class="fa-sharp fa-solid fa-circle-left pr-4" style="color: #000000;"></i>
    <% end %>

    <h2 class="text-orange-600 font-bold py-8">
      <%= params[:page] %>
    </h2>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <% params[:movies].each do |movie| %>
      <div class="flex flex-col mb-4 shadow-md w-48 hover:scale-105 transform transition-transform duration-300">
        <div class="relative">
          <% unless movie.poster_url.blank? %>
            <%= image_tag movie.poster_url, class: "h-400 w-full object-cover object-top" %>
          <% else %>
            <img class= "h-40 w-full object-cover" src="..." alt="">
          <% end %>
          <div class="absolute bottom-2 right-2 text-sm bg-white bg-opacity-80 px-1 rounded-md">
            <%= movie.rating %>
          </div>
        </div>

        <div class="flex flex-col text-center p-4 gap-1 bg-white h-32">
          <h5 class="text-lg text-green-600"><%= movie.title %></h5>
          <p class="text-sm text-black-600 line-clamp-3 overflow-hidden"><%= movie.overview %></p>
        </div>
      </div>
    <% end %>
  </div>
</main>
