<nav class="flex flex-row justify-between bg-black w-full shadow-lg p-4">

  <div class="flex flex-row gap-4 items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Logo", class: "w-12 h-12" %>
    <% end %>

    <div>
      <%= form_tag("/movies", method: "GET") do %>
        <div class="flex flex-row gap-2">
          <div class="border border-white rounded">
            <%= text_field_tag :search_by_title, params[:search_by_title], placeholder: "Star Wars...", class: "border-none" %>
          </div>

          <%= submit_tag "Search", class: "text-white px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition duration-200" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex flex-row justify-start items-center gap-4">
    <% if current_page?(root_path) %>
      <%= link_to "My lists", root_path, class: "text-black bg-white px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition duration-200" %>
    <% else %>
      <%= link_to "My lists", root_path, class: "text-white px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition duration-200" %>
    <% end %>
    <% if current_page?(new_list_path) %>
      <%= link_to "New list", new_list_path, class: "text-black bg-white px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition duration-200" %>
    <% else %>
      <%= link_to "New list", new_list_path, class: "text-white px-4 py-2 border border-white rounded hover:bg-white hover:text-black transition duration-200" %>
    <% end %>
  </div>

</nav>
